.bg-banner{
    background-image: url(../../image/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 10px 0;
}
.home-area{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}